a {
	text-decoration-line: none;
	color: inherit;
}
ul {
	list-style: none;
}
button {
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.container {
	margin: 30px;
}

.line {
	border-bottom: 1px solid;
}

.adImageBtn {
	width: 90%;
	.img {
		width: 90%;
		height: 60px;
	}
}

.issueTitle {
	font-size: 20px;
	margin: 10px 0;
	span {
		padding-right: 20px;
	}
}
.issueDescription {
	margin-bottom: 20px;
	span {
		padding-right: 10px;
	}
}
